<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/rentals">Domalis <img src="favicon.ico" alt=""></a>

  <div class="form-inline">
    <input #citySearch
           (keyup.enter)="search(citySearch.value)"
           class="form-control mr-sm-2 bwm-search"
           type="search"
           placeholder="Search by city name"
           aria-label="Search by city name">
    <button (click)="search(citySearch.value)"
            class="btn btn-outline-success my-2 my-sm-0 btn-bwm-search"
            type="button">Search</button>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!auth.isAuthenticated()">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link"> {{auth.getUsername()}}</a>
        </li>
        <div class="nav-item dropdown clickable">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Owner Section
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/users/profile">Profile</a>
            <a class="dropdown-item" routerLink="/rentals/new">Create Rental</a>
            <a class="dropdown-item" routerLink="/manage/rentals">Manage Rentals</a>
            <a class="dropdown-item" routerLink="/manage/bookings">Manage Bookings</a>
          </div>
        </div>
        <li class="nav-item clickable">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
